@model DemoWebApp.Models.Student

@{
    ViewData["Title"] = "Delete";
}
<link href="~/css/Delete.css" rel="stylesheet" type="text/css" asp-append-version="true"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<div class="details">

    <h1>Student Information to Delete <i class="bi bi-trash3"></i></h1>
    </div>
    <hr />
    <dl class="row justify-content-around">
        <dl class="card-one col-sm-3 profile">
            <i class="bi bi-person-fill icon"></i>
            </br>         
       <h5>@Html.DisplayFor(model => model.Name)</h5>
       <hr />
       <p>Student Of DIU | Batch-55</p>
      
   <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        
        <input type="submit" value="Delete" class="btn btn-danger"/>
        
   <a asp-action="Index"  class="btn btn-success" style="color:white" >Back to List</a>
       
    </form>
        </dl>

    <dl class="row col-sm-8 card-one dt-info">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Section)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Section)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CGPA)
        </dd>
    </dl>
    </dl>
    


