@model IEnumerable<DemoWebApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/index.css" rel="stylesheet" type="text/css" />

<h1 align="center"><i class="bi bi-person-lines-fill"></i> List of Students</h1>

<p>
   <a
   type="button" class="btn btn-primary"
   asp-action="Create"><i class='fas fa-user-plus'></i> Create New</a> 
</p>

<table class="table table-striped table-hover">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CGPA)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
	    <td>
                @Html.DisplayFor(modelItem => item.CGPA)
            </td>
            <td>
                <a
                type="button" class="btn btn-success" 
                asp-action="Edit" asp-route-id="@item.Id"><i class='far fa-edit'></i> Edit</a>

                <a
                type="button" class="btn btn-info"
                asp-action="Details" asp-route-id="@item.Id"><i class='fas fa-list-ul'></i> Details</a>

                <a
                type="button" class="btn btn-danger"
                asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
