@model IEnumerable<DemoWebApp.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

 <link rel="stylesheet" href="~/css/Teacher-index.css" asp-append-version="true"/>


<h1 class="title">Index</h1>

<p>
      <a asp-action="Create"><button Style="background-color:#00BFFF; border-color : #00BFFF; color : white">Create New</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="tabel_head head2">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="tabel_head head2">
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th class="tabel_head head2">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="tabel_head head2">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="tabel_head head2">
                @Html.DisplayNameFor(model => model.JoinDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="data_table">
@foreach (var item in Model) {
        <tr>
            <td class="data">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="data">
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td class="data">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="data">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td class="data">
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button Style="background-color:green;border-radius:3px;border-color :#87CEEB ; color : white" >Edit</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button Style="background-color:deepskyblue; border-radius:3px; border-color : gray; color : white" >Details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><button Style="background-color:tomato; border-radius:3px; border-color : red; color : white" >Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>